<div class="relatorio d-flex flex-column gap-2">
    <!-- Date Filter Section -->
    <div class="date-filter d-flex align-items-center justify-content-start gap-2">
        <div class="form-group">
            <label for="startDate">De</label>
            <input type="date" id="startDate" name="startDate" class="form-control" placeholder="Start Date">
        </div>
        <div class="form-group">
            <label for="endDate">Até</label>
            <input type="date" id="endDate" name="endDate" class="form-control" placeholder="End Date">
        </div>
    </div>

    <div class="checklist-filter mt-2 d-flex flex-column gap-2">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="radio1" name="radioGroup" (click)="onRadioChangeOther()">
          <label class="form-check-label" for="radio1">
            Imprimir Todas as Consultas neste Período
          </label>
        </div>
        <div class="vet d-flex align-items-center justify-content-between">
          <div class="form-check">
            <input class="form-check-input" type="radio" (click)="onRadioChange()" id="radio2" name="radioGroup">
            <label class="form-check-label" for="radio2">
              Imprimir Relatório de Consultas por Paciente
            </label>
          </div>
          <button *ngIf="showButton" type="button"
          class="btn btn-primary font-outfit selecionar d-flex flex-row gap-3"
          (click)="abrirModal(animais)">Selecionar Animal<bi class="search-btn" name="search">
          </bi></button>
        </div>
      </div>
</div>

<ng-template #animais let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary fw-bold font-outfit">Selecionar Animal</h4>
        <div class="botao shadow"><button type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button></div>
    </div>
    <div class="modal-body">
        <app-table [title]="'Animais Cadastrados'" [isModal]="true" [headers]="callAnimalHeaders()"
            [apiUrl]="getAnimalUrl()" [entidade]="'Animal'" [showToggle]="false" [showEdit]="false"
            [showAtivoFilter]="false" (detailsClick)="definirAnimal($event)"></app-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary font-outfit" (click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>
